Library/
Temp/
obj/
Assets/Plugins/Zenject/Source/Util/ZenPools.cs.meta
Assets/Plugins/
Assets/NaughtyAttributes/Scripts/Test/NaughtyAttributes.Test.asmdef
Assets/NaughtyAttributes/
Assets/Camera Perspective Editor/
Assets/PathCreator/
Assets/TextMesh Pro/Sprites.meta
Assets/TextMesh Pro/
Assets/Dreamteck/
Assets/DSTModelsSource/
NaughtyAttributes.Core.csproj
NaughtyAttributes.Editor.csproj
NaughtyAttributes.Test.csproj
Zenject.csproj
Zenject-Editor.csproj
Zenject-IntegrationTests.csproj
Zenject-IntegrationTests-Editor.csproj
Zenject-PoolMonitor-Editor.csproj
Zenject-ReflectionBaking-Editor.csproj
Zenject-TestFramework.csproj
Zenject-UnitTests-Editor.csproj
.vs/
.vs/DontStopTheTrain/v17/.suo
.vs/DontStopTheTrain/v17/fileList.bin
.vs/DontStopTheTrain_0/FileContentIndex/1a4cd2c8-c167-417c-aec4-0c0b514b0663.vsidx
.vs/DontStopTheTrain_0/FileContentIndex/read.lock
.vs/DontStopTheTrain_0/v17/.suo
Logs/
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Dreamteck.Splines.csproj
UserSettings/
Assets/DSTModels.7z
Assets/Samples/
Assets/DSTModels/
Assembly-CSharp-Editor.csproj
DontStopTheTrain.sln
Dreamteck.Splines.Editor.csproj
Dreamteck.Utilities.csproj
Dreamteck.Utilities.Editor.csproj
HDRPSamples.csproj
MyBox.csproj
UniRx.csproj
UniRx.Examples.csproj
VFXGraph.OutputEventHandlers.csproj
VFXGraph.OutputEventHandlers.Editor.csproj
Assets/_TerrainAutoUpgrade.meta
Assets/AddOns.meta
Assets/AllSkyFree.meta
Assets/Fantasy Forest Environment Free Sample.meta
Assets/Game Buffs.meta
Assets/GAME STRINGS IMPACTS.meta
Assets/HQ Rocks.meta
Assets/NatureStarterKit.meta
Assets/NatureStarterKit2.meta
Assets/Packages.meta
Assets/Phoenix3D.meta
Assets/Rocks and Boulders 2.meta
Assets/Terreins.meta
Assets/YughuesFreeMetalMaterials.meta
Assets/_TerrainAutoUpgrade/
Assets/AddOns/
Assets/AllSkyFree/
Assets/Data/Content/Audio/
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_Green_Seamless
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_Green_Seamless.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_Green_Seamless.png
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_Green_Seamless.png.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_LightPurple_Seamless
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_LightPurple_Seamless.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_LightPurple_Seamless.png
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_LightPurple_Seamless.png.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_Red_Seamless
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_Red_Seamless.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_Red_Seamless.png
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_Red_Seamless.png.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_Seamless
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Color_Seamless.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Height_Inverted_Seamless
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Height_Inverted_Seamless.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Height_Inverted_Seamless.png
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Height_Inverted_Seamless.png.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Height_Seamless
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Height_Seamless.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Height_Seamless.png
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Height_Seamless.png.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Normal_Inverted_Seamless
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Normal_Inverted_Seamless.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Normal_Inverted_Seamless.png
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Normal_Inverted_Seamless.png.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Normal_Seamless
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Normal_Seamless.meta
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Normal_Seamless.png
Assets/Data/Content/Textures/JPlacement/JS_MainTexture_8k_Normal_Seamless.png.meta
Assets/Data/Content/Textures/JPlacement/JS-2-2022-09-17-22-47-03-Seamless.png
Assets/Data/Content/Textures/JPlacement/JS-2-2022-09-17-22-47-03-Seamless.png.meta
Assets/Data/Content/Textures/JPlacement/JS-2-2022-09-17-22-47-03-Seamless-Normal.png
Assets/Data/Content/Textures/JPlacement/JS-2-2022-09-17-22-47-03-Seamless-Normal.png.meta
Assets/Data/Content/Textures/DirtWipes005_OVERLAY_VAR2_1K.jpg
Assets/Data/Content/Textures/DirtWipes005_OVERLAY_VAR2_1K.jpg.meta
Assets/Game Buffs/
Assets/GAME STRINGS IMPACTS/
Assets/HQ Rocks/
Assets/NatureStarterKit/
Assets/NatureStarterKit2/
Assets/Fantasy Forest Environment Free Sample/
Assets/Data/True10/Utils/DataFromGoogleSheets/
Assets/YughuesFreeMetalMaterials/
Assets/Rocks and Boulders 2/
Assets/Phoenix3D/
Assets/Packages/TP/Readme/
Assets/DSTAudio/
Assets/DSTTextureAssets/
Assets/Polytope Studio/
Assets/Furniture_FREE/
Assets/Kabungus/
Assets/Kevin Iglesias/
Assets/LKHGames/
